<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeluxeCarsDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

	<connectionStrings>
		<add name="AppDbContext"
			 connectionString="Server=AEROPAD\SQLEXPRESS;Database=deluxe_cars;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<add key="SmtpUser" value="suarezjohan740@gmail.com"/>
		<add key="SmtpPass" value="bevf cjpz rdhy svha"/>
	</appSettings>
	
    <userSettings>
        <DeluxeCarsDesktop.Properties.Settings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
        </DeluxeCarsDesktop.Properties.Settings>
    </userSettings>
</configuration>